.main{
    margin: 0;
    text-align: center;
    color: white;
}

.main h1{
    text-shadow: rgb(0,0,0,0.7) 2px 2px;
}

.main h3{
    background-color: #5A096A;
    padding: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.main ul li{
    display: inline-block;
    margin-top: 30px;
    background-color: gray;
    margin: 10px 10px;
    border-radius: 10px;
    opacity: 0.8;
    font-size: 25px;
}

.main ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.fitness{
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1494597564530-871f2b93ac55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80);
    background-position: center;
    background-size: cover;
}
.fitness:hover{
    filter: grayscale(50%);
}

.fitness:hover  li{
    background:  #5A096A;
    opacity: 1;
}

.financial{
    height: 50vh;
    background-image: url(https://images.pexels.com/photos/4386373/pexels-photo-4386373.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-position: center;
    background-size: cover;
}

.financial:hover{
    filter: grayscale(50%);
}

.financial:hover  li{
    background:  #5A096A;
    opacity: 1;
}

.math{
    height: 80vh;
    background-image: url(https://images.unsplash.com/photo-1582572186057-0e74d3c715ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80);
    background-position: center;
    background-size: cover;
}

.math:hover{
    filter: grayscale(50%);
}

.math:hover  li{
    background:  #5A096A;
    opacity: 1;
}

.other{
    height: 80vh;
    background-image: url(https://images.unsplash.com/photo-1561112079-2c3226d9c559?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
    background-position: center;
    background-size: cover;
}

.other:hover{
    filter: grayscale(50%);
}

.other:hover  li{
    background:  #5A096A;
    opacity: 1;
}

.p{
    text-shadow: rgb(0,0,0,0.7) 2px 2px;
    position: relative;
    top: 320px;
    font-size: 25px;
}

.wave{
    width: 100vw;
}